.user-nav {
  position: absolute;
  left: 0;
  top: 100px;
  padding: 10px;
  background-color: #ffe6e6;
  
  
  align-items: center;
}

.user-nav div {
  margin: 10px;
}

.is-active {
  color: black;
}
