.user-nav {
  padding: 10px;
  background-color: #ffe6e6;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

.user-nav div {
  margin: 10px;
}

.is-active {
  color: black;
}

.side-bar-toggle {
  float: left;
}
