.bg-box {
  border: 1px solid red;
  border-radius: 15px;
  box-shadow: 5px 5px 5px red;
  margin: 10px auto;
  padding: 5px 25px;
  width: 75%;
  background-image: url('./background.jpg');
  background-repeat: repeat-y;
}

.bg-box div {
  text-align: left;
}

.form-heading {
  font-size: 35px;
  font-weight: bold;
  background: -webkit-linear-gradient(#e00, #e9a);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

form label {
  font-weight: bolder;
  text-align: left;
}

form label::after {
  color: red;
  content: " *";
}

form strong {
  color: red;
}


input {
  font-style: italic;
}

.display-card {
  position: fixed;
  bottom: 0;
  z-index: 1;
}
