.user-details {
  width: 80%;
  margin: 10px auto;
  text-align: left;
  background-image: url('./background.jpg');
  background-repeat: repeat-y;
  color:black;
}

.user-details td {
  padding: 10px;
}